# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
venv/

# Large raw dataset zips & cache
*.zip
data/*.zip
data/osm/
data/*.json.gz
data/*-osm.json

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
